In [1]:
import pandas as pd
import numpy as np

Question 1. Pandas version (1 point)

In [2]:
pd.__version__

'2.3.3'

Question 2. Records count (1 point)

In [3]:
df = pd.read_csv('car_fuel_efficiency.csv') 
num_rows = len(df)
print(num_rows)

9704

Question 3. Fuel types (1 point)

In [4]:
df['fuel_type'].nunique()

2

Question 4. Missing values (1 point)

In [5]:
df.isnull().any().sum()

4

Question 5. Max fuel efficiency (1 point)

In [6]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

Question 6. Median value of horsepower (1 point)

In [7]:
horsepower_median = df['horsepower'].median()
print(horsepower_median)

149.0

In [8]:
df['horsepower']

0       159.0
1        97.0
2        78.0
3         NaN
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [9]:
horsepower_mode = df['horsepower'].mode()[0]
print(horsepower_mode)

152.0

In [10]:
df['horsepower'] = df['horsepower'].fillna(horsepower_mode)

In [21]:
df['horsepower']

0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [12]:
print(df['horsepower'].median())

152.0

Question 7. Sum of weights (1 point)

In [13]:
df[df['origin'] == 'Asia'][['vehicle_weight','model_year']].head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [14]:
X = np.array(df[df['origin'] == 'Asia'][['vehicle_weight','model_year']].head(7))
print(X)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [15]:
XTX = X.T @ X
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [16]:
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [17]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [18]:
w = (XTX_inv @ X.T) @ y

In [19]:
w

array([0.01386421, 0.5049067 ])

In [20]:
sum(w)

0.5187709081074026